/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

*.gem

/.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.tfvars
provider.tf

__azurite_db*
__blobstorage__/
AzuriteConfig

# LLM
**/.claude/settings.local.json
**/CLAUDE.local.md
**/CLAUDE.local.md
